<h1>Welcome to ForrenTech</h1>
<hr>

<h2>Congratulations !! </h2>
<p>You have successfully been employed as a permanant employee of ForrenTech. We Congratulate on your new role.
We have been impressed with your professional background and passion. We are delighted to offer you the job at Forrentech.This is a full time apprenticeship requiring 8 hours a day (40hours/week), Monday to Friday. You will be reporting to the respective manager of your department.

You’ll have to serve a probabtion period of 3 months leading to a part-time/full-time position in the company after successful evaluation for the post of Associate Software Engineer. We will be offering you a monthly stipend of PKR15000/month during the practicum period. You will also be entitled to the employee benefits once you become the permanent resource to the company [health insurance plan, corporate mobile or travel expenses, paid extra working hours, subsidized lunch, company sponsored/subsidized recreational events including annual trip]. 
We are all looking forward to having you on our team!</p>

<h3> Following are your credentials </h3>
Email:<%= @user.email %> 
<br>
Emergency Contact:<%= @user.emergencycontact %>
<br>
User Type: <%= @user.usertype %>

<h3> Please do not share your credentials with anyone </h3>

<%= image_tag attachments['forrentech.jpeg'].url, alt: 'My Photo' %>


  
