

  <!-- Sidebar 
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
       
        <br/>
        <h2 class="text-white ">DashBoard</h2>
  
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
        <li >
        <%= link_to 'Home',root_path,class:"list-group-item list-group-item-action py-2 ripple "%>
        </li>
         <li >
        <%= link_to 'Employees',users_path,class:" list-group-item list-group-item-action py-2 ripple"%>
         </li>
         <li>
        <%=link_to 'New Employee',new_user_path,class:"list-group-item list-group-item-action py-2 ripple"%>
         </li>
        
        </ul>
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
      </div>
    </div>
  </nav>
Sidebar -->


<!--Main layout
<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>

Main layout-->